/*pc*/
@media (max-width: 1800px) {
}

/*notebook*/
@media (max-width: 1280px) {
  /*experience*/
  .experience-wrap .name {
    font-size: 8rem;
  }

  /*project*/
  .project-wrap .title-box .tit {
    font-size: 6rem;
  }
}

/*tablet*/
@media (max-width: 1024px) {
  br {
    display: none;
  }

  br.on {
    display: block;
  }

  /*header*/
  .head-wrap .head-con .move-bar a .txt {
    font-size: 1.8rem;
  }

  .head-wrap .available .txt {
    font-size: 1.8rem;
  }

  /*home*/
  .home-wrap .content .text-box .tit {
    font-size: 8rem;
  }

  .home-wrap .content .diagram-box {
    display: none;
  }

  .home-wrap .content .text-box .txt {
    font-size: 2.2rem;
  }

  /*intro*/
  .intro-wrap .content {
    flex-direction: column;
    gap: 2rem;
  }

  .intro-wrap .content .left {
    width: 100%;
  }

  .intro-wrap .content .right {
    width: 100%;
    gap: 4rem;
  }

  /*work*/
  .work-wrap .list .result,
  .work-wrap .list .result.reverse {
    flex-direction: column-reverse;
    margin: 14rem 0;
  }

  .work-wrap .list .result .img-box {
    width: 100%;
    padding-top: 55%;
  }

  .work-wrap .list .result .text-box {
    text-align: left;
  }

  .work-wrap .list .result .text-box .info {
    display: none;
  }

  .work-wrap .list .result .img-box a::before {
    font-size: 2rem;
  }

  /*experience*/
  .experience-wrap .cont-box {
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 15rem;
  }

  .experience-wrap .cont-box .left,
  .experience-wrap .cont-box .right {
    width: 100%;
  }

  .experience-wrap .cont-box .right .thank .txt {
    max-width: 100%;
  }

  /*project*/
  .project-wrap .project-cont .list {
    grid-template-columns: 1fr;
  }

  .project-wrap .project-cont .list .item .text-wrap .tit {
    font-size: 2.8rem;
  }

  .project-wrap .project-cont .list .item .text-wrap .txt {
    ont-size: 2.2rem;
    margin-right: 1rem;
  }

  .project-wrap .project-cont .list .p-name .name {
    opacity: 1;
  }
}

/*mobile-Large*/
@media (max-width: 768px) {
  /*common*/
  .cursor {
    display: none;
  }

  /*header*/
  .head-wrap .head-con .move-bar {
    gap: 6rem;
  }

  .head-wrap .head-con .move-bar a .txt {
    font-size: 2.2rem;
  }

  .head-wrap .available .txt {
    font-size: 2.2rem;
  }

  /*home*/
  .home-wrap .dot {
    opacity: 1;
  }

  .home-wrap .content .text-box .tit {
    font-size: 7rem;
  }

  /*intro*/
  .intro-wrap .content .left .tit {
    font-size: 6rem;
  }

  .intro-wrap .content .right .char {
    opacity: 1;
  }

  .intro-wrap .content .right .list .item {
    opacity: 1;
    transform: translateY(0);
  }

  .intro-wrap .content .right .list img {
    width: 5rem;
  }

  /*work*/
  .work-wrap .list .result .img-box a img {
    transform: translate(-50%, -50%);
  }

  .work-wrap .list .result,
  .work-wrap .list .result.reverse {
    margin: 10rem 0;
  }

  /*experience*/
  .experience-wrap .cont-box .right .list .info-box .txt {
    color: #ffffff;
  }

  .experience-wrap .cont-box .right .thank .txt {
    opacity: 1;
  }

  /*footer*/
  #footer .footer-wrap .cont-box .contact-info dl dt,
  #footer .footer-wrap .cont-box .contact-info dl dd {
    font-size: 2.2rem;
  }

  /*project*/
  .project-wrap .title-box .tit {
    font-size: 6rem;
  }

  .project-wrap .project-cont .list .p-name .name {
    font-size: 2.8rem;
  }
}

/*mobile*/
@media (max-width: 480px) {
  /*home*/
  .home-wrap .content .text-box .tit {
    font-size: 6rem;
  }

  .home-wrap .content .text-box .txt {
    font-size: 2.4rem;
    max-width: 70%;
    margin: auto;
  }

  /*footer*/
  .experience-wrap .name {
    font-size: 6rem;
  }

  #footer .footer-wrap .cont-box .contact-info {
    flex-direction: column;
  }

  #footer .footer-wrap .cont-box .contact-info dl {
    margin-right: 0;
  }
}

/* ========================================================
 * FONT SIZE
======================================================== */
@media all and (max-width: 1536px) {
  html {
    font-size: 0.651vw;
  }

  /* 10 */
}

@media all and (max-width: 1280px) {
  html {
    font-size: 0.7824vw;
  }

  /* 10 -> 11*/
}

@media all and (max-width: 800px) {
  html {
    font-size: 0.965vw;
  }

  /* 10 -> 11*/
}

@media all and (max-width: 640px) {
  html {
    font-size: 1.165vw;
  }

  /* 10 -> 11*/
}

@media all and (max-width: 480px) {
  html {
    font-size: 1.422vw;
  }

  /* 10 */
}

@media all and (max-width: 412px) {
  html {
    font-size: 1.422vw;
  }

  /* 10 */
}

@media all and (max-width: 390px) {
  html {
    font-size: 1.422vw;
  }

  /* 10 -> 8.5 */
}
